{% extends "quotes/base.html" %}

{% block content %}

<div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6">
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <h2 class="text-center mb-4">Login</h2>
                        <form method="post" novalidate>

                            {% csrf_token %}

                            <div class="form-group">
                                <label for="{{ form.username.id_for_label }}" class="form-label">
                                    {{ form.username.label }}
                                </label>
                                {{ form.username }}
                                {% for error in form.username.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password.id_for_label }}" class="form-label">
                                    {{ form.password.label }}
                                </label>
                                {{ form.password }}
                                {% for error in form.password.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                                <br>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Login</button>
                                <button type="reset" class="btn btn-warning">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
